{% extends 'home.html' %}

{% block title %}Signup{% endblock title %}

{% block content %}

<h1>Fill up your form here.</h1>
<form action="/forgot/" method="post">
    {% csrf_token %}
    <input type="hidden" id="rawtext" name="user_id" value="{{user_id}}">
    <input type="password" name="new_password" placeholder ="New Password" required><br>
    <input type="password" name="confirm_password" placeholder ="Confirm Password" required><br>
    <input type="submit" />
</form>
{% endblock content %}